<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057042644731-79ltg4rmfvvuppepli6qbn0av4okf1dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057042644731-79ltg4rmfvvuppepli6qbn0av4okf1dp</string>
	<key>API_KEY</key>
	<string>AIzaSyBPANoxKgkdhPMa1jj1Q1t3YXIu6XvD2-c</string>
	<key>GCM_SENDER_ID</key>
	<string>1057042644731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.napastores.customer</string>
	<key>PROJECT_ID</key>
	<string>napa-stores-44cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>napa-stores-44cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057042644731:ios:61a24334e9f2bbab833a5e</string>
</dict>
</plist>